{%extends 'dash_base.html'%}
{%block heading%}My CART{%endblock%}
{%block content%}
<style>
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    #team {
        background: #eee !important;
    }
    
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #108d6f;
        border-color: #108d6f;
        box-shadow: none;
        outline: none;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #007b5e;
        border-color: #007b5e;
    }
    
    section {
        padding: 60px 0;
    }
    
    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    
    #team .card {
        border: none;
        background: #ffffff;
    }
    
    .image-flip:hover .backside,
    .image-flip.hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }
    
    .image-flip:hover .frontside,
    .image-flip.hover .frontside {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    
    .mainflip {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
    }
    
    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
    }
    
    .backside {
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }
    
    .frontside,
    .backside {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -moz-transform-style: preserve-3d;
        -o-transition: 1s;
        -o-transform-style: preserve-3d;
        -ms-transition: 1s;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
    }
    
    .frontside .card,
    .backside .card {
        min-height: 312px;
    }
    
    .backside .card a {
        font-size: 18px;
        color: #007b5e !important;
    }
    
    .frontside .card .card-title,
    .backside .card .card-title {
        color: #007b5e !important;
    }
    
    .frontside .card .card-body img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    </style>
    <div class="container">
        {%if empty!=True%}
        If any items are missing then please add them manually.Sorry for the inconvinience.
        <div class="row">
            {% for i in items %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');" style='height:29.5rem'>
                    <a href='{{i['name']}}/info'>
                    <div class="mainflip" style='height:29.5rem'>
                        <div class="frontside" style='height:29.5rem'>
                            
                                <div class="card" style="width: 19rem;height:29.5rem">
                                    <div class="card-body text-center mt-4">
                                        {%if i['src']==None %}
                                        <p><img class=" img-fluid" src="{{url_for('static',filename='images/googlelens.png')}}" alt="card image" style='height:17rem'><h4 class="card-title">{{i['name']}}</h4></p>
                                        {%else%}
                                        <p><img class=" img-fluid" src="{{i['src']}}" alt="card image" style='height:17rem'><h4 class="card-title">{{i['food_name']}}</h4></p>
                                        {%endif%}
                                        
                                    </div>
                                </div>
                            
                        </div>
                        <div class="backside" style='height:29.5rem' >
                            <div class="card"style="width: 19rem;">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{i['food_name']}}</h4>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><pre><strong>Calories</strong>          {{i['cal']}}Kcal</pre></li>
                                        <li class="list-group-item"><pre><strong>Fats</strong>              {{i['fats']}}g</pre></li>
                                        <li class="list-group-item"><pre><strong>Sugars</strong>            {{i['sug']}}g</pre></li>
                                        <li class="list-group-item"><pre><strong>Protiens</strong>          {{i['pro']}}g</pre></li>
                                        <li class="list-group-item"><pre><strong>Carbohydrates</strong>     {{i['carbs']}}g</pre></li>
                                        <li class="list-group-item"><pre><strong>Weight</strong>            {{i['food_wt']}}g</pre></li>
                                    </ul>
                                    <form method='POST' action='/delete/{{i['food_id']}}'>
                                        <input type='hidden'id='{{i['food_id']}}' name='foodid{{i['food_id']}}'><script>var id=document.getElementById('foodid{{i['food_id']}}').value=`{{i['food_id']}}`;
                                            console.log(document.getElementById('foodid'));
                                        </script>
                                        <input type='hidden'id='foodname{{i['food_id']}}' name='foodname{{i['food_id']}}' value='{{i['food_name']}}'><script>
                                        </script>
                                        <button type='submit' class='btn-primary'>Delete
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                
            </div>
            <br>
            <br>
            {%endfor%}
        
            
        </div>
        <br>
        <br>
        <form action='/analyse' method='POST' style='align-items:center'>
            Enter the month
            <input type='text' placeholder='Month' name='month'>
            Enter the Year
            <input type='text' placeholder='Year' name='year'>
            <button type='submit' class='btn-primary'>Get report
        </form>
        
        {%elif empty==True%}
        {%if msg==True%}
        Please the Upload file clearly.
        {%endif%}
        Your Cart is empty.Please add some items into your cart. 
        {%endif%}
        
        
    </div>

{%endblock%}
